@page "/"
@using thepeoplerating.Components

<h3>Find person in Wiki</h3>

<input @bind="_searchName" />
<button @onclick="SearchPeople">Search</button>

@if (@People != null)

{@foreach (var person in PeopleR)
{
    <PersonInfo Person=@person />
}}