@page "/rating"

<div class="row">
    <div class="col-xl-6">
        <RadzenRating>test</RadzenRating>
        <h3>Rating with 5 stars</h3>
        <RadzenRating Style="margin-bottom: 20px" Change="@((args) => OnChange(args, "Rating with 5 stars"))" />
        <RadzenRating Change=@(args => OnChange(args, "Rating with 5 stars"))/>
        <h3 style="margin-top: 2rem">Rating with 10 stars</h3>
        <RadzenRating Stars="10" Change=@(args => OnChange(args, "Rating with 10 stars"))/>
        <h3 style="margin-top: 2rem">Disabled Rating with 10 stars</h3>
        <RadzenRating Disabled="true" Stars="10"/>
        <RadzenRating>test1</RadzenRating>
    </div>
    <div class="col-xl-6">
        @*<EventConsole @ref=@console />*@
    </div>
</div>

@code {
    //EventConsole console;

    void OnChange(int value, string name)
    {
        //console.Log($"{name} value changed to {value}");
    }
}